@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

$baseColor: #297373;
$importantColor: #85FFC7;
$warningColor: #FF8552;
$baseTextColor: #FFF;
$importantTextColor: $baseColor;
$warningTextColor: #FFF;

$boxShadow: -5px 5px 8px $baseColor;

$primaryFont: "Open Sans";
$secondaryFont: "Playfair Display";
