@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto&display=swap');
$baseColor: #19323C;
$importantColor: #A93F55;
$warningColor: #F2545B;
$baseTextColor: #FFF;
$importantTextColor: #FFF;
$warningTextColor: $baseColor;

$boxShadow: 5px 5px 8px $baseColor;

$primaryFont: "Roboto";
$secondaryFont: "Kalam";
